/.idea/

/.cache/
/.config/
/.local/
/.vagrant/
/.bash_history
/.viminfo
/ubuntu-xenial-16.04-cloudimg-console.log

/webroot/perl/*
!/webroot/perl/sample/

/webroot/php5/*
!/webroot/php5/sample/

/webroot/php7/*
!/webroot/php7/sample/

/mariadb/*
!/mariadb/.gitkeep

/mysql/*
!/mysql/.gitkeep

/phpmyadmin/sessions/*

